html, body, main, section, .container-fluid, .background-cover, .vine-container, %fullsize {
  height: 100%;
  width: 1200px;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.vine-container{
  z-index: -2;
}

section {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;

  color: white;
}

.layer--overlay {
  @extend %fullsize;

  background-repeat: no-repeat;
  /*
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  */
  pointer-events: none;

  opacity: 0;
  transition: opacity 1s;

  &.active {
    opacity: 1;
    transition: opacity 0.5s;
  }
  &.background {
    z-index: -3;
  }
  &.middleground {
    z-index: -1;
  }
  &.foreground {
    z-index: 1;
  }
}

.layer--content {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
}

.monstera-title h1 {
  margin-left: 10%;
}

.monstera-title h3 {
  margin-left: calc(10% + 10px);
}