html, body, main, section, .container-fluid, .background-cover, %fullsize {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.vine-container {
  border: 5px solid red;
  z-index: -2;
  svg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 700px;
  }

  path {
    visibility: hidden;
  }
  // todo
  g.active path:not(.leaf) {
    visibility: visible;
    fill-opacity: 0;
    stroke: #42bd2c;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  g.active path.leaf {
    visibility: visible;
    //fill: #0f0;
  }
  &.scene1 {
  //  transform: perspective(70em) rotateX(50deg) scale(1.2);
    path:not(.leaf) {
      stroke-width: 5px !important;
    }
  }
  &.scene2 {
    transform: perspective(70em) rotateX(85deg) translateZ(-270px) scale(0.8);
  }
  &.scene5 {
    transform: translateX(30px);
  }
}

section {
  position: relative;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;

  color: white;
}

.layer--overlay {
  @extend %fullsize;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  pointer-events: none;

  opacity: 0;
  transition: opacity 1s;

  &.active {
    opacity: 1;
    transition: opacity 0.5s;
  }
  &.background {
    z-index: -3;
  }
  &.middleground {
    z-index: -1;
  }
  &.foreground {
    z-index: 1;
  }
}

.layer--content {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.5) 100%);
}

.monstera-title h1 {
  margin-left: 10%;
}

.monstera-title h3 {
  margin-left: calc(10% + 10px);
}