h1 {
  font-family: $base-font-family;
  font-size: 5em;
  font-weight: bold;
  margin: (1.5 * $base-font-size) 0 $base-font-size 0;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pullquote {
  font-family: $pullquote-font-family;
  font-size: 2.5em;
  line-height: 1.2;
  margin: 30px auto;
  font-style: italic;
  display: block;
}

.dropcap {
  float: left;

  font-family: $pullquote-font-family;
  font-style: italic;
  font-weight: bold;
  
  font-size: 45px;
  line-height: 30px;
  
  padding-top: 9px;
  padding-right: 21px;
  padding-left: 12px;
  padding-bottom: 12px;

  margin-right: 14px;
  border: 1px solid white;
}